## 인구구조 데이터 분석
인구 데이터 분석 (행정안전부 데이터 이용)

 0000년00월 (00월 발표)의 00시 연령별 성별 인구자료입니다. > 202206_연령별인구현황_월간.csv

- 거주지의 인구 구조 시각화를 통한 인구 현황 분석
- 인구증가율, 인구밀도 분석 및 도시화 현황 분석
- 사회, 경제, 정책, 건강 등 여러 분야에 적용할 수 있는 인사이트를 도출

# 1.데이터 탐색

## 1.1.데이터 분석을 위한 CSV 파일 로드 & 기본적인 EDA 실행

In [35]:
import pandas as pd

In [80]:
data = pd.read_csv('data/202309_202409_주민등록인구및세대현황_월간.csv', encoding='cp949')

data

,행정구역,2023년09월_총인구수,2023년09월_세대수,2023년09월_세대당 인구,2023년09월_남자 인구수,2023년09월_여자 인구수,2023년09월_남여 비율,2023년10월_총인구수,2023년10월_세대수,2023년10월_세대당 인구,...,2024년08월_세대당 인구,2024년08월_남자 인구수,2024년08월_여자 인구수,2024년08월_남여 비율,2024년09월_총인구수,2024년09월_세대수,2024년09월_세대당 인구,2024년09월_남자 인구수,2024년09월_여자 인구수,2024년09월_남여 비율
0,전국 (1000000000),"51,370,001","23,900,917",2.15,"25,592,335","25,777,666",0.99,"51,354,226","23,901,564",2.15,...,2.13,"25,522,808","25,733,703",0.99,"51,248,233","24,102,045",2.13,"25,517,454","25,730,779",0.99
1,서울특별시 (1100000000),"9,407,540","4,475,726",2.10,"4,552,501","4,855,039",0.94,"9,400,249","4,472,603",2.10,...,2.08,"4,518,536","4,837,265",0.93,"9,350,995","4,487,671",2.08,"4,515,791","4,835,204",0.93
2,부산광역시 (2600000000),"3,300,836","1,565,115",2.11,"1,609,650","1,691,186",0.95,"3,298,213","1,564,546",2.11,...,2.09,"1,594,978","1,680,615",0.95,"3,273,473","1,570,953",2.08,"1,593,783","1,679,690",0.95
3,대구광역시 (2700000000),"2,377,801","1,092,536",2.18,"1,168,679","1,209,122",0.97,"2,376,978","1,092,922",2.17,...,2.15,"1,161,164","1,204,869",0.96,"2,365,523","1,102,902",2.14,"1,160,812","1,204,711",0.96
4,인천광역시 (2800000000),"2,987,918","1,344,029",2.22,"1,494,725","1,493,193",1.00,"2,990,276","1,345,719",2.22,...,2.20,"1,506,680","1,508,090",1.00,"3,016,520","1,370,309",2.20,"1,507,439","1,509,081",1.00
5,광주광역시 (2900000000),"1,422,999","656,061",2.17,"702,748","720,251",0.98,"1,421,760","655,675",2.17,...,2.15,"697,079","714,984",0.97,"1,411,357","658,210",2.14,"696,711","714,646",0.97
6,대전광역시 (3000000000),"1,444,595","680,653",2.12,"720,520","724,075",1.00,"1,443,965","680,363",2.12,...,2.10,"717,878","722,048",0.99,"1,440,456","687,909",2.09,"718,109","722,347",0.99
7,울산광역시 (3100000000),"1,104,167","489,298",2.26,"567,314","536,853",1.06,"1,104,031","489,851",2.25,...,2.22,"565,290","533,941",1.06,"1,098,728","494,664",2.22,"565,067","533,661",1.06
8,세종특별자치시 (3600000000),"385,932","160,479",2.40,"192,246","193,686",0.99,"386,079","160,556",2.40,...,2.39,"193,826","195,544",0.99,"389,443","162,952",2.39,"193,854","195,589",0.99
9,경기도 (4100000000),"13,626,339","5,969,573",2.28,"6,855,626","6,770,713",1.01,"13,627,840","5,971,803",2.28,...,2.26,"6,875,411","6,800,462",1.01,"13,680,645","6,045,219",2.26,"6,877,300","6,803,345",1.01
10,강원특별자치도 (5100000000),"1,530,712","760,903",2.01,"770,130","760,582",1.01,"1,529,500","760,656",2.01,...,1.99,"764,911","756,155",1.01,"1,520,410","765,004",1.99,"764,551","755,859",1.01
11,충청북도 (4300000000),"1,594,326","779,770",2.04,"810,835","783,491",1.03,"1,594,211","779,850",2.04,...,2.02,"809,546","781,170",1.04,"1,590,858","786,310",2.02,"809,577","781,281",1.04
12,충청남도 (4400000000),"2,127,630","1,032,336",2.06,"1,089,884","1,037,746",1.05,"2,128,563","1,033,330",2.06,...,2.04,"1,095,246","1,040,035",1.05,"2,135,373","1,050,067",2.03,"1,095,392","1,039,981",1.05
13,전라북도 (4500000000),"1,758,661","861,647",2.04,"875,353","883,308",0.99,"1,757,295","861,451",2.04,...,0.00,0,0,0.00,0,0,0.00,0,0,0.00
14,전북특별자치도 (5200000000),0,0,0.00,0,0,0.00,0,0,0.00,...,2.02,"867,993","875,190",0.99,"1,741,640","864,068",2.02,"867,235","874,405",0.99
15,전라남도 (4600000000),"1,807,295","912,090",1.98,"910,810","896,485",1.02,"1,805,823","911,474",1.98,...,1.96,"904,171","888,219",1.02,"1,791,496","912,708",1.96,"903,669","887,827",1.02
16,경상북도 (4700000000),"2,559,924","1,282,575",2.00,"1,292,868","1,267,056",1.02,"2,558,085","1,282,624",1.99,...,1.97,"1,284,828","1,255,218",1.02,"2,537,955","1,291,969",1.96,"1,283,804","1,254,151",1.02
17,경상남도 (4800000000),"3,257,009","1,524,861",2.14,"1,639,932","1,617,077",1.01,"3,255,239","1,524,850",2.13,...,2.11,"1,629,223","1,604,406",1.02,"3,232,297","1,536,377",2.10,"1,628,643","1,603,654",1.02
18,제주특별자치도 (5000000000),"676,317","313,265",2.16,"338,514","337,803",1.00,"676,119","313,291",2.16,...,2.13,"336,048","335,492",1.00,"671,064","314,753",2.13,"335,717","335,347",1.00

### 1.1.1. 데이터 명칭 간소화

In [139]:
# 행정구역 이름에서 괄호 및 숫자 제거
data['행정구역'] = data['행정구역'].str.replace(r'\s*\(.*?\)', '', regex=True)

In [167]:
# '전북특별자치도'와 '전라북도'를 '전북'으로 변경
data['행정구역'] = data['행정구역'].replace({'전북특별자치도': '전북', '전라북도': '전북'})

# 동일한 '전북'을 가진 행을 합쳐서 원본 데이터프레임에 반영
data = data.groupby('행정구역', as_index=False).sum()

In [173]:
# 고유한 값 확인
print(data['행정구역'].unique())

['강원특별자치도' '경기도' '경상남도' '경상북도' '광주광역시' '대구광역시' '대전광역시' '부산광역시' '서울특별시'
 '세종특별자치시' '울산광역시' '인천광역시' '전국' '전라남도' '전북' '제주특별자치도' '충청남도' '충청북도']

In [171]:
data

,행정구역,2023년09월_총인구수,2023년09월_세대수,2023년09월_세대당 인구,2023년09월_남자 인구수,2023년09월_여자 인구수,2023년09월_남여 비율,2023년10월_총인구수,2023년10월_세대수,2023년10월_세대당 인구,...,2024년08월_세대당 인구,2024년08월_남자 인구수,2024년08월_여자 인구수,2024년08월_남여 비율,2024년09월_총인구수,2024년09월_세대수,2024년09월_세대당 인구,2024년09월_남자 인구수,2024년09월_여자 인구수,2024년09월_남여 비율
0,강원특별자치도,"1,530,712","760,903",2.01,"770,130","760,582",1.01,"1,529,500","760,656",2.01,...,1.99,"764,911","756,155",1.01,"1,520,410","765,004",1.99,"764,551","755,859",1.01
1,경기도,"13,626,339","5,969,573",2.28,"6,855,626","6,770,713",1.01,"13,627,840","5,971,803",2.28,...,2.26,"6,875,411","6,800,462",1.01,"13,680,645","6,045,219",2.26,"6,877,300","6,803,345",1.01
2,경상남도,"3,257,009","1,524,861",2.14,"1,639,932","1,617,077",1.01,"3,255,239","1,524,850",2.13,...,2.11,"1,629,223","1,604,406",1.02,"3,232,297","1,536,377",2.10,"1,628,643","1,603,654",1.02
3,경상북도,"2,559,924","1,282,575",2.00,"1,292,868","1,267,056",1.02,"2,558,085","1,282,624",1.99,...,1.97,"1,284,828","1,255,218",1.02,"2,537,955","1,291,969",1.96,"1,283,804","1,254,151",1.02
4,광주광역시,"1,422,999","656,061",2.17,"702,748","720,251",0.98,"1,421,760","655,675",2.17,...,2.15,"697,079","714,984",0.97,"1,411,357","658,210",2.14,"696,711","714,646",0.97
5,대구광역시,"2,377,801","1,092,536",2.18,"1,168,679","1,209,122",0.97,"2,376,978","1,092,922",2.17,...,2.15,"1,161,164","1,204,869",0.96,"2,365,523","1,102,902",2.14,"1,160,812","1,204,711",0.96
6,대전광역시,"1,444,595","680,653",2.12,"720,520","724,075",1.00,"1,443,965","680,363",2.12,...,2.10,"717,878","722,048",0.99,"1,440,456","687,909",2.09,"718,109","722,347",0.99
7,부산광역시,"3,300,836","1,565,115",2.11,"1,609,650","1,691,186",0.95,"3,298,213","1,564,546",2.11,...,2.09,"1,594,978","1,680,615",0.95,"3,273,473","1,570,953",2.08,"1,593,783","1,679,690",0.95
8,서울특별시,"9,407,540","4,475,726",2.10,"4,552,501","4,855,039",0.94,"9,400,249","4,472,603",2.10,...,2.08,"4,518,536","4,837,265",0.93,"9,350,995","4,487,671",2.08,"4,515,791","4,835,204",0.93
9,세종특별자치시,"385,932","160,479",2.40,"192,246","193,686",0.99,"386,079","160,556",2.40,...,2.39,"193,826","195,544",0.99,"389,443","162,952",2.39,"193,854","195,589",0.99
10,울산광역시,"1,104,167","489,298",2.26,"567,314","536,853",1.06,"1,104,031","489,851",2.25,...,2.22,"565,290","533,941",1.06,"1,098,728","494,664",2.22,"565,067","533,661",1.06
11,인천광역시,"2,987,918","1,344,029",2.22,"1,494,725","1,493,193",1.00,"2,990,276","1,345,719",2.22,...,2.20,"1,506,680","1,508,090",1.00,"3,016,520","1,370,309",2.20,"1,507,439","1,509,081",1.00
12,전국,"51,370,001","23,900,917",2.15,"25,592,335","25,777,666",0.99,"51,354,226","23,901,564",2.15,...,2.13,"25,522,808","25,733,703",0.99,"51,248,233","24,102,045",2.13,"25,517,454","25,730,779",0.99
13,전라남도,"1,807,295","912,090",1.98,"910,810","896,485",1.02,"1,805,823","911,474",1.98,...,1.96,"904,171","888,219",1.02,"1,791,496","912,708",1.96,"903,669","887,827",1.02
14,전북,"1,758,6610","861,6470",2.04,"875,3530","883,3080",0.99,"1,757,2950","861,4510",2.04,...,2.02,"0867,993","0875,190",0.99,"01,741,640","0864,068",2.02,"0867,235","0874,405",0.99
15,제주특별자치도,"676,317","313,265",2.16,"338,514","337,803",1.00,"676,119","313,291",2.16,...,2.13,"336,048","335,492",1.00,"671,064","314,753",2.13,"335,717","335,347",1.00
16,충청남도,"2,127,630","1,032,336",2.06,"1,089,884","1,037,746",1.05,"2,128,563","1,033,330",2.06,...,2.04,"1,095,246","1,040,035",1.05,"2,135,373","1,050,067",2.03,"1,095,392","1,039,981",1.05
17,충청북도,"1,594,326","779,770",2.04,"810,835","783,491",1.03,"1,594,211","779,850",2.04,...,2.02,"809,546","781,170",1.04,"1,590,858","786,310",2.02,"809,577","781,281",1.04

## 1.2 데이터의 구조

In [175]:
#데이터 구조 확인
data.head()

,행정구역,2023년09월_총인구수,2023년09월_세대수,2023년09월_세대당 인구,2023년09월_남자 인구수,2023년09월_여자 인구수,2023년09월_남여 비율,2023년10월_총인구수,2023년10월_세대수,2023년10월_세대당 인구,...,2024년08월_세대당 인구,2024년08월_남자 인구수,2024년08월_여자 인구수,2024년08월_남여 비율,2024년09월_총인구수,2024년09월_세대수,2024년09월_세대당 인구,2024년09월_남자 인구수,2024년09월_여자 인구수,2024년09월_남여 비율
0,강원특별자치도,"1,530,712","760,903",2.01,"770,130","760,582",1.01,"1,529,500","760,656",2.01,...,1.99,"764,911","756,155",1.01,"1,520,410","765,004",1.99,"764,551","755,859",1.01
1,경기도,"13,626,339","5,969,573",2.28,"6,855,626","6,770,713",1.01,"13,627,840","5,971,803",2.28,...,2.26,"6,875,411","6,800,462",1.01,"13,680,645","6,045,219",2.26,"6,877,300","6,803,345",1.01
2,경상남도,"3,257,009","1,524,861",2.14,"1,639,932","1,617,077",1.01,"3,255,239","1,524,850",2.13,...,2.11,"1,629,223","1,604,406",1.02,"3,232,297","1,536,377",2.10,"1,628,643","1,603,654",1.02
3,경상북도,"2,559,924","1,282,575",2.00,"1,292,868","1,267,056",1.02,"2,558,085","1,282,624",1.99,...,1.97,"1,284,828","1,255,218",1.02,"2,537,955","1,291,969",1.96,"1,283,804","1,254,151",1.02
4,광주광역시,"1,422,999","656,061",2.17,"702,748","720,251",0.98,"1,421,760","655,675",2.17,...,2.15,"697,079","714,984",0.97,"1,411,357","658,210",2.14,"696,711","714,646",0.97

In [149]:
#데이터 구조 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 79 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   행정구역             19 non-null     object
 1   2023년09월_총인구수    19 non-null     object
 2   2023년09월_세대수     19 non-null     object
 3   2023년09월_세대당 인구  19 non-null     float64
 4   2023년09월_남자 인구수  19 non-null     object
 5   2023년09월_여자 인구수  19 non-null     object
 6   2023년09월_남여 비율   19 non-null     float64
 7   2023년10월_총인구수    19 non-null     object
 8   2023년10월_세대수     19 non-null     object
 9   2023년10월_세대당 인구  19 non-null     float64
 10  2023년10월_남자 인구수  19 non-null     object
 11  2023년10월_여자 인구수  19 non-null     object
 12  2023년10월_남여 비율   19 non-null     float64
 13  2023년11월_총인구수    19 non-null     object
 14  2023년11월_세대수     19 non-null     object
 15  2023년11월_세대당 인구  19 non-null     float64
 16  2023년11월_남자 인구수  19 non-null     object
 17  2023년11월_여자 인구수  19 non-null     object
 18  2023년11월_남여 비율   19 non-null     float64
 19  2023년12월_총인구수    19 non-null     object
 20  2023년12월_세대수     19 non-null     object
 21  2023년12월_세대당 인구  19 non-null     float64
 22  2023년12월_남자 인구수  19 non-null     object
 23  2023년12월_여자 인구수  19 non-null     object
 24  2023년12월_남여 비율   19 non-null     float64
 25  2024년01월_총인구수    19 non-null     object
 26  2024년01월_세대수     19 non-null     object
 27  2024년01월_세대당 인구  19 non-null     float64
 28  2024년01월_남자 인구수  19 non-null     object
 29  2024년01월_여자 인구수  19 non-null     object
 30  2024년01월_남여 비율   19 non-null     float64
 31  2024년02월_총인구수    19 non-null     object
 32  2024년02월_세대수     19 non-null     object
 33  2024년02월_세대당 인구  19 non-null     float64
 34  2024년02월_남자 인구수  19 non-null     object
 35  2024년02월_여자 인구수  19 non-null     object
 36  2024년02월_남여 비율   19 non-null     float64
 37  2024년03월_총인구수    19 non-null     object
 38  2024년03월_세대수     19 non-null     object
 39  2024년03월_세대당 인구  19 non-null     float64
 40  2024년03월_남자 인구수  19 non-null     object
 41  2024년03월_여자 인구수  19 non-null     object
 42  2024년03월_남여 비율   19 non-null     float64
 43  2024년04월_총인구수    19 non-null     object
 44  2024년04월_세대수     19 non-null     object
 45  2024년04월_세대당 인구  19 non-null     float64
 46  2024년04월_남자 인구수  19 non-null     object
 47  2024년04월_여자 인구수  19 non-null     object
 48  2024년04월_남여 비율   19 non-null     float64
 49  2024년05월_총인구수    19 non-null     object
 50  2024년05월_세대수     19 non-null     object
 51  2024년05월_세대당 인구  19 non-null     float64
 52  2024년05월_남자 인구수  19 non-null     object
 53  2024년05월_여자 인구수  19 non-null     object
 54  2024년05월_남여 비율   19 non-null     float64
 55  2024년06월_총인구수    19 non-null     object
 56  2024년06월_세대수     19 non-null     object
 57  2024년06월_세대당 인구  19 non-null     float64
 58  2024년06월_남자 인구수  19 non-null     object
 59  2024년06월_여자 인구수  19 non-null     object
 60  2024년06월_남여 비율   19 non-null     float64
 61  2024년07월_총인구수    19 non-null     object
 62  2024년07월_세대수     19 non-null     object
 63  2024년07월_세대당 인구  19 non-null     float64
 64  2024년07월_남자 인구수  19 non-null     object
 65  2024년07월_여자 인구수  19 non-null     object
 66  2024년07월_남여 비율   19 non-null     float64
 67  2024년08월_총인구수    19 non-null     object
 68  2024년08월_세대수     19 non-null     object
 69  2024년08월_세대당 인구  19 non-null     float64
 70  2024년08월_남자 인구수  19 non-null     object
 71  2024년08월_여자 인구수  19 non-null     object
 72  2024년08월_남여 비율   19 non-null     float64
 73  2024년09월_총인구수    19 non-null     object
 74  2024년09월_세대수     19 non-null     object
 75  2024년09월_세대당 인구  19 non-null     float64
 76  2024년09월_남자 인구수  19 non-null     object
 77  2024년09월_여자 인구수  19 non-null     object
 78  2024년09월_남여 비율   19 non-null     float64
dtypes: float64(26), object(53)
memory usage: 11.9+ KB

## 1.3.기초 통계량 분석

In [177]:
#기초 통계량 분석
#숫자형 열에 대한 기초 통계량
data.describe()

,2023년09월_세대당 인구,2023년09월_남여 비율,2023년10월_세대당 인구,2023년10월_남여 비율,2023년11월_세대당 인구,2023년11월_남여 비율,2023년12월_세대당 인구,2023년12월_남여 비율,2024년01월_세대당 인구,2024년01월_남여 비율,...,2024년05월_세대당 인구,2024년05월_남여 비율,2024년06월_세대당 인구,2024년06월_남여 비율,2024년07월_세대당 인구,2024년07월_남여 비율,2024년08월_세대당 인구,2024년08월_남여 비율,2024년09월_세대당 인구,2024년09월_남여 비율
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,...,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,2.134444,1.001111,2.132222,1.001667,2.132222,1.001667,2.131667,1.001111,2.130000,1.001667,...,2.115556,1.000556,2.115556,1.000556,2.115000,1.000556,2.111667,1.000000,2.107778,1.000000
std,0.108964,0.030465,0.108820,0.031107,0.108820,0.031107,0.108966,0.031228,0.108574,0.031107,...,0.110145,0.033338,0.110145,0.033338,0.109665,0.033338,0.109558,0.033781,0.110590,0.033781
min,1.980000,0.940000,1.980000,0.940000,1.980000,0.940000,1.980000,0.940000,1.980000,0.940000,...,1.970000,0.930000,1.970000,0.930000,1.970000,0.930000,1.960000,0.930000,1.960000,0.930000
25%,2.045000,0.990000,2.045000,0.990000,2.045000,0.990000,2.045000,0.990000,2.045000,0.990000,...,2.032500,0.990000,2.032500,0.990000,2.032500,0.990000,2.025000,0.990000,2.022500,0.990000
50%,2.130000,1.000000,2.125000,1.000000,2.125000,1.000000,2.125000,1.000000,2.125000,1.000000,...,2.105000,1.000000,2.105000,1.000000,2.105000,1.000000,2.105000,1.000000,2.095000,1.000000
75%,2.177500,1.017500,2.170000,1.017500,2.170000,1.017500,2.170000,1.017500,2.167500,1.017500,...,2.150000,1.020000,2.150000,1.020000,2.150000,1.020000,2.150000,1.020000,2.140000,1.020000
max,2.400000,1.060000,2.400000,1.060000,2.400000,1.060000,2.400000,1.060000,2.400000,1.060000,...,2.390000,1.060000,2.390000,1.060000,2.390000,1.060000,2.390000,1.060000,2.390000,1.060000

In [179]:
#결측치 및 이상치 처리
data.isnull().sum()

행정구역               0
2023년09월_총인구수      0
2023년09월_세대수       0
2023년09월_세대당 인구    0
2023년09월_남자 인구수    0
                  ..
2024년09월_세대수       0
2024년09월_세대당 인구    0
2024년09월_남자 인구수    0
2024년09월_여자 인구수    0
2024년09월_남여 비율     0
Length: 79, dtype: int64

In [205]:
data

,행정구역,2023년09월_총인구수,2023년09월_세대수,2023년09월_세대당 인구,2023년09월_남자 인구수,2023년09월_여자 인구수,2023년09월_남여 비율,2023년10월_총인구수,2023년10월_세대수,2023년10월_세대당 인구,...,2024년08월_남자 인구수,2024년08월_여자 인구수,2024년08월_남여 비율,2024년09월_총인구수,2024년09월_세대수,2024년09월_세대당 인구,2024년09월_남자 인구수,2024년09월_여자 인구수,2024년09월_남여 비율,인구 비율 (%)
0,강원특별자치도,"1,530,712","760,903",2.01,"770,130","760,582",1.01,"1,529,500","760,656",2.01,...,"764,911","756,155",1.01,NaN,"765,004",1.99,"764,551","755,859",1.01,NaN
1,경기도,"13,626,339","5,969,573",2.28,"6,855,626","6,770,713",1.01,"13,627,840","5,971,803",2.28,...,"6,875,411","6,800,462",1.01,NaN,"6,045,219",2.26,"6,877,300","6,803,345",1.01,NaN
2,경상남도,"3,257,009","1,524,861",2.14,"1,639,932","1,617,077",1.01,"3,255,239","1,524,850",2.13,...,"1,629,223","1,604,406",1.02,NaN,"1,536,377",2.10,"1,628,643","1,603,654",1.02,NaN
3,경상북도,"2,559,924","1,282,575",2.00,"1,292,868","1,267,056",1.02,"2,558,085","1,282,624",1.99,...,"1,284,828","1,255,218",1.02,NaN,"1,291,969",1.96,"1,283,804","1,254,151",1.02,NaN
4,광주광역시,"1,422,999","656,061",2.17,"702,748","720,251",0.98,"1,421,760","655,675",2.17,...,"697,079","714,984",0.97,NaN,"658,210",2.14,"696,711","714,646",0.97,NaN
5,대구광역시,"2,377,801","1,092,536",2.18,"1,168,679","1,209,122",0.97,"2,376,978","1,092,922",2.17,...,"1,161,164","1,204,869",0.96,NaN,"1,102,902",2.14,"1,160,812","1,204,711",0.96,NaN
6,대전광역시,"1,444,595","680,653",2.12,"720,520","724,075",1.00,"1,443,965","680,363",2.12,...,"717,878","722,048",0.99,NaN,"687,909",2.09,"718,109","722,347",0.99,NaN
7,부산광역시,"3,300,836","1,565,115",2.11,"1,609,650","1,691,186",0.95,"3,298,213","1,564,546",2.11,...,"1,594,978","1,680,615",0.95,NaN,"1,570,953",2.08,"1,593,783","1,679,690",0.95,NaN
8,서울특별시,"9,407,540","4,475,726",2.10,"4,552,501","4,855,039",0.94,"9,400,249","4,472,603",2.10,...,"4,518,536","4,837,265",0.93,NaN,"4,487,671",2.08,"4,515,791","4,835,204",0.93,NaN
9,세종특별자치시,"385,932","160,479",2.40,"192,246","193,686",0.99,"386,079","160,556",2.40,...,"193,826","195,544",0.99,NaN,"162,952",2.39,"193,854","195,589",0.99,NaN
10,울산광역시,"1,104,167","489,298",2.26,"567,314","536,853",1.06,"1,104,031","489,851",2.25,...,"565,290","533,941",1.06,NaN,"494,664",2.22,"565,067","533,661",1.06,NaN
11,인천광역시,"2,987,918","1,344,029",2.22,"1,494,725","1,493,193",1.00,"2,990,276","1,345,719",2.22,...,"1,506,680","1,508,090",1.00,NaN,"1,370,309",2.20,"1,507,439","1,509,081",1.00,NaN
12,전국,"51,370,001","23,900,917",2.15,"25,592,335","25,777,666",0.99,"51,354,226","23,901,564",2.15,...,"25,522,808","25,733,703",0.99,NaN,"24,102,045",2.13,"25,517,454","25,730,779",0.99,NaN
13,전라남도,"1,807,295","912,090",1.98,"910,810","896,485",1.02,"1,805,823","911,474",1.98,...,"904,171","888,219",1.02,NaN,"912,708",1.96,"903,669","887,827",1.02,NaN
14,전북,"1,758,6610","861,6470",2.04,"875,3530","883,3080",0.99,"1,757,2950","861,4510",2.04,...,"0867,993","0875,190",0.99,NaN,"0864,068",2.02,"0867,235","0874,405",0.99,NaN
15,제주특별자치도,"676,317","313,265",2.16,"338,514","337,803",1.00,"676,119","313,291",2.16,...,"336,048","335,492",1.00,NaN,"314,753",2.13,"335,717","335,347",1.00,NaN
16,충청남도,"2,127,630","1,032,336",2.06,"1,089,884","1,037,746",1.05,"2,128,563","1,033,330",2.06,...,"1,095,246","1,040,035",1.05,NaN,"1,050,067",2.03,"1,095,392","1,039,981",1.05,NaN
17,충청북도,"1,594,326","779,770",2.04,"810,835","783,491",1.03,"1,594,211","779,850",2.04,...,"809,546","781,170",1.04,NaN,"786,310",2.02,"809,577","781,281",1.04,NaN

# 2.인구 구조 시각화

### 2.1. 지역별 총 인구수

In [209]:
# 2023년 9월 총 인구수 컬럼에서 쉼표 등 특수문자 제거 후 숫자형 변환
data['2023년09월_총인구수'] = data['2023년09월_총인구수'].astype(str).str.replace(r"[^\d]", "", regex=True)
data['2023년09월_총인구수'] = pd.to_numeric(data['2023년09월_총인구수'], errors='coerce')

# 지역별로 그룹화하여 2023년 9월 총 인구수 합산 (전북 통합 포함)
data_grouped = data.groupby('행정구역', as_index=False)['2023년09월_총인구수'].sum()

# 전체 인구수 계산 (2023년 9월 기준)
total_population = data_grouped['2023년09월_총인구수'].sum()

# 각 지역의 인구 비율 계산
data_grouped['인구 비율 (%)'] = (data_grouped['2023년09월_총인구수'] / total_population) * 100

# 결과 확인
data_grouped

       행정구역  2023년09월_총인구수  인구 비율 (%)
0   강원특별자치도        1530712   1.291000
1       경기도       13626339  11.492430
2      경상남도        3257009   2.746956
3      경상북도        2559924   2.159035
4     광주광역시        1422999   1.200155
5     대구광역시        2377801   2.005433
6     대전광역시        1444595   1.218369
7     부산광역시        3300836   2.783919
8     서울특별시        9407540   7.934303
9   세종특별자치시         385932   0.325494
10    울산광역시        1104167   0.931252
11    인천광역시        2987918   2.520005
12       전국       51370001  43.325368
13     전라남도        1807295   1.524269
14       전북       17586610  14.832516
15  제주특별자치도         676317   0.570405
16     충청남도        2127630   1.794439
17     충청북도        1594326   1.344652

In [213]:
# 2023년 9월 총 인구수 컬럼에서 쉼표 등 특수문자 제거 후 숫자형 변환
data['2023년09월_총인구수'] = data['2023년09월_총인구수'].astype(str).str.replace(r"[^\d]", "", regex=True)
data['2023년09월_총인구수'] = pd.to_numeric(data['2023년09월_총인구수'], errors='coerce')

# 지역별로 그룹화 없이 2023년 9월 총 인구수와 인구 비율 계산
total_population = data['2023년09월_총인구수'].sum()
data['인구 비율 (%)'] = (data['2023년09월_총인구수'] / total_population) * 100

# 결과 확인
data[['행정구역', '2023년09월_총인구수', '인구 비율 (%)']]

       행정구역  2023년09월_총인구수  인구 비율 (%)
0   강원특별자치도        1530712   1.291000
1       경기도       13626339  11.492430
2      경상남도        3257009   2.746956
3      경상북도        2559924   2.159035
4     광주광역시        1422999   1.200155
5     대구광역시        2377801   2.005433
6     대전광역시        1444595   1.218369
7     부산광역시        3300836   2.783919
8     서울특별시        9407540   7.934303
9   세종특별자치시         385932   0.325494
10    울산광역시        1104167   0.931252
11    인천광역시        2987918   2.520005
12       전국       51370001  43.325368
13     전라남도        1807295   1.524269
14       전북       17586610  14.832516
15  제주특별자치도         676317   0.570405
16     충청남도        2127630   1.794439
17     충청북도        1594326   1.344652

## 2.1. 성별 인구 수 시각화