In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("PySpark Example").getOrCreate()

24/12/03 10:27:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
#RDD생성 - 분산데이터객체
rdd = spark.sparkContext.parallelize([1,2,3,4,5])
rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:274

In [6]:
rdd.take(5)

[1, 2, 3, 4, 5]

In [5]:
squared_rdd= rdd.map(lambda x : x*x)
squared_rdd

PythonRDD[1] at RDD at PythonRDD.scala:53

In [7]:
squared_rdd.take(5)

[1, 4, 9, 16, 25]

In [8]:
squared_rdd.collect()

[1, 4, 9, 16, 25]

In [9]:
#데이터 프레임 객체
data = [("Alice",1),("Bob",2),("Charlie",3)]
df = spark.createDataFrame(data, ["Name","Value"])
df

DataFrame[Name: string, Value: bigint]

In [10]:
df.show()

+-------+-----+
|   Name|Value|
+-------+-----+
|  Alice|    1|
|    Bob|    2|
|Charlie|    3|
+-------+-----+

In [ ]:
df.filter()

In [ ]:
#RDBMS 데이터 테이블

In [12]:
df.createOrReplaceTempView("people")

In [18]:
select_sql = "SELECT * FROM people WHERE Value > 2"

In [19]:
result_sql = spark.sql(select_sql)
result_sql.show()

+-------+-----+
|   Name|Value|
+-------+-----+
|Charlie|    3|
+-------+-----+

In [20]:
!pip install numpy

Collecting numpy
  Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.6 kB)
Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 131.2 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-1.24.4

In [47]:
import numpy as np

In [48]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression

In [45]:
df = spark.createDataFrame

In [46]:
VectorAssembler(inputCols=['age'], outputCol='features')
vector_df = assembler.transform(df)

NameError: name 'assembler' is not defined

In [41]:
lr = LinearRegression(featuresCol='features',labelCol='age')
model = lr.fit(vector_df)

NameError: name 'vector_df' is not defined

In [42]:
pred = model.transform(vector_df)
pred.show()

NameError: name 'model' is not defined

In [24]:
spark.stop()