In [20]:
host_ip="15.168.156.34"
user_id="spark_user"
user_password="1234"

In [21]:
import mysql.connector

conn = mysql.connector.connect(
    host = host_ip,
    user = user_id,
    password = user_password,
    database="my_db"
)

In [22]:
cursor = conn.cursor()
cursor.execute("SHOW TABLES;")

In [23]:
for table in cursor.fetchall():
    print(table)

('DEPT',)
('EMP',)
('salgrade',)

In [24]:
cursor.close()
conn.close()