In [1]:
from pyspark import SparkConf, SparkContext

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("FirstSparkSessionApp").getOrCreate()

24/12/06 13:44:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
myRange = spark.range(1000)

In [4]:
myRange

DataFrame[id: bigint]

In [5]:
myRange.show(10)

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+
only showing top 10 rows

In [8]:
data = [
    ("brook", 20),
    ("Denny", 31),
    ("Jules", 30),
]

In [9]:
data_frame = spark.createDataFrame(data)
data_frame

DataFrame[_1: string, _2: bigint]

In [10]:
data_frame.show()

+-----+---+
|   _1| _2|
+-----+---+
|brook| 20|
|Denny| 31|
|Jules| 30|
+-----+---+

In [11]:
data_frame.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)

In [12]:
data_frame.createOrReplaceTempView("people")

In [14]:
result =spark.sql("select _1, _2 from people")
result.show()

+-----+---+
|   _1| _2|
+-----+---+
|brook| 20|
|Denny| 31|
|Jules| 30|
+-----+---+

In [16]:
from pyspark.sql.types import *

In [21]:
schema = StructType(
    [
        StructField("Author", StringType(),False),
        StructField("State", IntegerType(),False)
    ]
)

In [22]:
schema

StructType(List(StructField(Author,StringType,false),StructField(State,IntegerType,false)))

In [23]:
a_df = spark.createDataFrame(data,schema)

In [24]:
a_df.show()

+------+-----+
|Author|State|
+------+-----+
| brook|   20|
| Denny|   31|
| Jules|   30|
+------+-----+

In [25]:
# define schema for our data
schema = StructType([
   StructField("Id", IntegerType(), False),
   StructField("First", StringType(), False),
   StructField("Last", StringType(), False),
   StructField("Url", StringType(), False),
   StructField("Published", StringType(), False),
   StructField("Hits", IntegerType(), False),
   StructField("Campaigns", ArrayType(StringType()), False)])

#create our data
data = [[1, "Jules", "Damji", "https://tinyurl.1", "1/4/2016", 4535, ["twitter", "LinkedIn"]],
       [2, "Brooke","Wenig","https://tinyurl.2", "5/5/2018", 8908, ["twitter", "LinkedIn"]],
       [3, "Denny", "Lee", "https://tinyurl.3","6/7/2019",7659, ["web", "twitter", "FB", "LinkedIn"]],
       [4, "Tathagata", "Das","https://tinyurl.4", "5/12/2018", 10568, ["twitter", "FB"]],
       [5, "Matei","Zaharia", "https://tinyurl.5", "5/14/2014", 40578, ["web", "twitter", "FB", "LinkedIn"]],
       [6, "Reynold", "Xin", "https://tinyurl.6", "3/2/2015", 25568, ["twitter", "LinkedIn"]]
      ]

In [26]:
b_df  = spark.createDataFrame(data, schema)

In [27]:
b_df.printSchema()

root
 |-- Id: integer (nullable = false)
 |-- First: string (nullable = false)
 |-- Last: string (nullable = false)
 |-- Url: string (nullable = false)
 |-- Published: string (nullable = false)
 |-- Hits: integer (nullable = false)
 |-- Campaigns: array (nullable = false)
 |    |-- element: string (containsNull = true)

In [28]:
b_df.select("Id").show(2)

+---+
| Id|
+---+
|  1|
|  2|
+---+
only showing top 2 rows

In [29]:
from pyspark.sql.functions import *

In [30]:
b_df.select(expr("Hits")*2).show(10)

+----------+
|(Hits * 2)|
+----------+
|      9070|
|     17816|
|     15318|
|     21136|
|     81156|
|     51136|
+----------+

In [31]:
spark.stop()